[submodule "site-lisp/egg"]
	path = site-lisp/egg
	url = https://github.com/byplayer/egg.git
[submodule "site-lisp/markdown"]
	path = site-lisp/markdown
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/restclient"]
	path = site-lisp/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule "site-lisp/smarttabs"]
	path = site-lisp/smarttabs
	url = https://github.com/jcsalomon/smarttabs.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "site-lisp/typescript"]
	path = site-lisp/typescript
	url = https://github.com/ananthakumaran/typescript.el.git
[submodule "site-lisp/scss-mode"]
	path = site-lisp/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git

