*~
\#*\#
\.\#*
*.elc
auto-save-list
tramp
eshell
ido.last
site-lisp/loaddefs
eln-cache
ede-projects.el
# Configured Lisp implementations
modes/lisp.d
# Sessions
session.*
# Network Security Manager
network-security.data
